<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="StarWarsConnectionStrings"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=WIN-0IQ12IEBH08; 
                           Initial Catalog=StarWars; 
                           Integrated Security=SSPI;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>